*{
    margin: 0px;
}

.App{
    background-color: #EEE2DC;
    font-family: 'Karla', sans-serif;
    overflow: hidden;
}

.advertisement-container{
    border: 2px solid black;
    height: 30vh;
    position: relative;
    top: 932px;
    right: 251px;
    width: 200px;
}
.none-underline{
    text-decoration: none;
    color: rgb(52, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
    align-items: center;
    margin-top: 1rem;
}
img{
    transition:0.3s;

}
img:hover{
 transform: scale(1.1);
 box-shadow: 0px 0px 8px 2px gray;
}
.img-text-onhover{
    visibility: hidden;
}
img:hover .img-text-onhover{
    visibility: visible;
}

.asking-login-text{
    text-align: center;
}

.asking-login-text a{
    text-decoration: none;
    color: brown;
}

.article-above-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 2%;
    padding: 20px;
    background: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    background-color: rgb(239, 224, 206);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 3px 32px 0 ;
}

.article-heading{
    font-size: 50px;
color: rgb(122, 38, 38);
text-align: center;
}
.articlers-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    background-color: rgb(245, 239, 232);
    padding: 2%;
    border-radius: 20px;
    
}
.articlers-info{
    text-align:start ;
}
.articlers-name{
    font-size: 18px;
    color: black;
}
.articlers-postdate{
    font-size: 14px;
    color: gray;
}

.fb-icon ,.insta-icon ,.twitter-icon, .yt-icon{
    transition: 0.2s;
    
}
.fb-icon:hover{
    box-shadow: -2px 5px 7px 0px gray;
    translate:10% -10%;
    
}
.insta-icon:hover{
    box-shadow: -2px 5px 7px 0px gray;
    translate:10% -10%;
}
.twitter-icon:hover{
    box-shadow: -2px 5px 7px 0px gray;
    translate:10% -10%;
}
.yt-icon:hover{
    box-shadow: -2px 5px 7px 0px gray;
    translate:10% -10%;
}
.avatar{
    width: 103px;
    height: 103px;
}
.avatar:hover{
    box-shadow: none;
    transition: 0.3s;
}
.articlers-info{
    margin-right: 30%;
}
.socials-icons-container{
    display: flex;
    width: 20%;
    justify-content: space-around;
}
.article-main-image{
    display: flex;
    margin: 20px;
    align-self: center;
    width: 80%;
    height: 370px;
}
.article-main-image:hover{
    transform: none;
    box-shadow: none;
}

.article-main-para{
    font-size:20px;
    color: rgba(140, 24, 24, 0.568);
}
.genre-likes-container{
    display: flex;
    flex-direction: column;
    width: 18%;
}
.claps-txt{
    margin-left:20px;
    align-content: center;
}
.claps-icon{
    width: 40px;
    height: 39px;
    align-items: center;
    transition: 0.2s;
}
.claps-icon:hover{
    transform: scale(1.1);
    box-shadow: none;
   
}
.genre-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.genre1{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}
.genre2{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}
.genre3{
    background-color: #00000029;
    padding: 4px;
    border-radius: 3px;
}

.more{
    text-align: center;
    font-size: 35px;
    margin: 10px;

}
.article-lower-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
    padding: 40px;
    text-align: center;
}
.article-bottom-images{
width: 250px;
height: 200px;
border-radius: 10px;
}
.article-bottom-name{
    text-decoration: none;
    font-size: 25px;
    color: brown;
}
.article-bottom-date{
    font-size: 17px;
}


@media only screen  and (min-width:250px) and (max-width:768px){
    .article-above-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    padding: 0px;
    margin-inline: auto;
    backdrop-filter: none;
    }
  .article-main-image{
    width: 80%;
    height: 50%;
  }

  .articlers-info-container{
    width: 80%;
    position: relative;
    top: 10px;
    background-color: rgb(244, 227, 206);
  }

    .article-heading{
        font-size:21px
    }
   
    .article-main-para{
        font-size:18px;
        width: 300px;
        height: 369px;
    }

    
    .avatar{
        width:75px ;
        height: 75px;
    }
    .articlers-name{
        font-size: 16px;
    }
    .avatar{
        position: relative;
        top: 30px;
        left: 15px;
        width: 75px;
        height: 75px;
    }
    .articlers-info{
        position: relative;
        top: 30px;
        left: 35px;
    }
    .socials-icons-container{
        position: relative;
        bottom: 30px;
        right: 200px;
        

    }
    .twitter-icon{
        margin-left: 12px;
        margin-right: 10px;
    }

    .insta-icon{
        margin-left: 5px;
        margin-right: 15px;
    }

.article-main-para{
    font-size: 18px;
}

.genre-likes-container{
position: relative;
top: 10px;
right: 90px;
width: 30%;
margin-bottom: 55px;
margin-top: 30px;
}

.genre1{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre2{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre3{
    font-size: 15px;
    padding: 2px;
    width: 85%;
    height: 50%;
    margin-right: 10px;

}
    .more{
        font-size:22px;
    }

    .upper{
        width: 90%;
    }
    .article-lower-conatiner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 10px;
        margin-inline: auto;
        padding: 0;
        text-align: center;
        width: 90%;
        flex-direction: row;
        /* align-items: stretch; */
        /* align-content: center; */
    }
    .article-lower-wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: space-evenly;
        padding: 0;
        width: 100%;
    }
    .article-bottom-images{
        width: 90%;
        /* height: 70%; */
    }
    .article-bottom-date{
        margin: 10px;
    }
    h5{
        width: 100px;
        margin-left: 200px;
    }
    .article-bottom-name{
        width: 100px;
    }
}


@media only screen  and (min-width:768px) and (max-width:1024px){
    .article-above-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        padding: 0px;
        margin-inline: auto;
        backdrop-filter: none;
    }
  .article-main-image{
    width: 80%;
    height: 50%;
  }

  .articlers-info-container{
    width: 80%;
    position: relative;
    top: 10px;
    background-color: rgb(244, 227, 206);
  }

    .article-heading{
        font-size:21px
    }
   
    .article-main-para{
        font-size:18px;
        width: 300px;
        height: 369px;
    }

    
    .avatar{
        width:75px ;
        height: 75px;
    }
    .articlers-name{
        font-size: 16px;
    }
    .avatar{
        position: relative;
        top: 30px;
        left: 15px;
        width: 75px;
        height: 75px;
    }
    .articlers-info{
        position: relative;
        top: 30px;
        left: 35px;
    }
    .socials-icons-container{
        position: relative;
        bottom: 30px;
        right: 200px;
        

    }
    .twitter-icon{
        margin-left: 12px;
        margin-right: 10px;
    }

    .insta-icon{
        margin-left: 5px;
        margin-right: 15px;
    }

.article-main-para{
    font-size: 18px;
}

.genre-likes-container{
position: relative;
top: 10px;
right: 90px;
width: 30%;
margin-bottom: 55px;
margin-top: 30px;
}

.genre1{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre2{
    font-size: 15px;
    padding: 2px;
    width: 35%;
    height: 50%;
    margin-right: 10px;

}
.genre3{
    font-size: 15px;
    padding: 2px;
    width: 85%;
    height: 50%;
    margin-right: 10px;

}
    .more{
        font-size:22px;
    }

    .upper{
        width: 90%;
    }
    .article-lower-conatiner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 10px;
        margin-inline: auto;
        padding: 0;
        text-align: center;
        width: 90%;
        flex-direction: row;
        /* align-items: stretch; */
        /* align-content: center; */
    }
    .article-lower-wrapper{
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        justify-content: space-evenly;
        padding: 0;
        width: 100%;
    }
    .article-bottom-images{
        width: 90%;
        /* height: 70%; */
    }
    .article-bottom-date{
        margin: 10px;
    }
    h5{
        width: 100px;
        margin-left: 200px;
    }
    .article-bottom-name{
        width: 100px;
    }
}