*{
    margin: 0px;
}

.App{
    background-color: #EEE2DC;
    font-family: 'Karla', sans-serif;
    overflow: hidden;
}


.advertisement-container{
    border: 2px solid black;
    height: 30vh;
    position: relative;
    top: 932px;
    right: 251px;
    width: 200px;
}
.none-underline{
    text-decoration: none;
    color: rgb(52, 51, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
    align-items: center;
    margin-top: 1rem;
}
img{
    transition:0.3s;

}
img:hover{
 transform: scale(1.1);
 box-shadow: 0px 0px 8px 2px gray;
}
.img-text-onhover{
    visibility: hidden;
}
img:hover .img-text-onhover{
    visibility: visible;
}



.page-titles-right{
    text-align: center;
    margin: 30px;
    font-size: 40px;

   
    
    
    
}

.section-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-left: 1%;
}

.left-section-para{
    color: forestgreen;
}


.page-titles-right{
    color: rgb(142, 23, 23);
}

.page-titles-left{
    color: rgb(142, 23, 23);
}
.left-section{
    width: 60%;
}
.left-section-name{
    color: rgb(164, 61, 61)
}

.right-section-name{
    color:#123C69 ;
    font-size: 2em;
}

.left-section-info-container{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin-bottom: 70px;
}
.left-section-para{
    line-height: 20px;
    margin-bottom: 50px;
}

.right-section{
    display: flex;
    flex-direction: column;
    margin-left: 7%;
    justify-content: center;
    align-content: center;
    width: 30%;
    height: 40%;
  }

  .right-sec-big-name{
    font-size: 4em;
    
  }

  .right-sec-big-date{
    font-size: 1em;
  }

.right-sec-big-post{
    width: 10%;
    height: 20%;
}

.right-sec-big-avatar{
    width: 25em;
    height: 20em;
}

.right-sec-avatar-first{
    width: 16vw;
    height: 100%;
    display: flex;
    align-self: flex-start;
}

.right-sec-small-post{
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}

.right-section-info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    line-height: 180%;
    /* gap: 5em; */
    margin-bottom: 10%;
}

.right-section-avatar{
    width: 100%;
    height: 10em;
    
}

.pages-topics-images{
    width:250px ;
    height:200px ;
    border-radius:10px ;
    margin-right: 20px;
}
.info{
    line-height: 40px;
}
.left-sec-slash-wrapper{
    text-align: start;
    
}
.left-sec-cat{
    color: rgb(44, 44, 44);
}
.left-sec-postdate{
    color: rgb(141, 139, 139);
    font-size: 13px;
}
.advertisement-container{
    display: none;
}

.page-titles-left{
    font-size: 3em;
    margin-bottom: 0.5em;
}


@media only screen and (min-width:250px )and (max-width:1024px){
.right-section{
    display: none;
    
}
.advertisement-container{
    display: none;
}
.section-container{
    width: 90%;
}       
.pages-topics-images{
    width:114px ;
    height: 123px;
}

 .left-section{
    
    line-height: 20px;
    width: 100%;
 }  

 .right-section{
    margin: 10px;
 } 
.left-section-name{
    font-size: 19px;
}
.left-section-para{
    font-size: 14px;
}
.left-section-date{
    font-size: 14px;

}
.left-section-imdb{
    font-size: 14px;

}
.page-titles-right{
    font-size: 21px;
}
.section-container{
    margin-inline: auto;

}


}